h1,h2,h3,h4,h5,h6{
    color: white;
}
h4{
    font-size: 16px;
}
.widget{
    cursor: pointer;
    background-color: #3b414d;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
}
.widget-hidden{
    opacity: 0;
    visibility: hidden;
}