.App {
  text-align: center;
  width: 100% !important;
  max-width: 100% !important;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container{
  width: 100% !important;
  max-width: 100% !important;
}